[submodule "custom/vcprompt"]
	path = custom/vcprompt
	url = https://github.com/djl/vcprompt.git
[submodule "custom/pandoc-completion"]
	path = custom/pandoc-completion
	url = https://github.com/dsanson/pandoc-completion.git
[submodule "custom/zsh-completions"]
	path = custom/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
